
.weather{
    width: 100%;
    display: flex; 
    align-content: space-between;
}
.weatherText{
    font-family: 'city';
    width: 100%;
    align-content: space-between;
}

.weatherDescription{
    width: 100%;
    display: flex; 
    align-content: space-between;
    font-size: 20px;
}

.weatherContent{
    width: 100%;
    display: flex; 
    align-content: space-between;
    font-size: 20px;
}
